@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Hahmlet&family=Pacifico&family=Poppins&family=Roboto&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: rgb(120, 120, 126);
    background: -moz-linear-gradient(0deg, rgba(120, 120, 126, 1) 0%, rgba(206, 206, 215, 1) 50%, rgba(0, 212, 255, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(120, 120, 126, 1) 0%, rgba(206, 206, 215, 1) 50%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(0deg, rgba(120, 120, 126, 1) 0%, rgba(206, 206, 215, 1) 50%, rgba(0, 212, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#78787e", endColorstr="#00d4ff", GradientType=1);
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    height: 10vh;
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(0, 0, 0);
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 65px;
    color: rgb(0, 0, 0);
}

.buttonDiv {
    display: flex;
    align-items: center;
    right: 0px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 10px;
    padding: 0px 10px;
    border-radius: 15px;
}

header p {
    font-size: 20px;
}

#modeButtonDrag,
#modeButtonResize,
#modeButtonErase,
#modeButtonEdit {
    border: none;
    height: 60px;
    width: 180px;
    border-radius: 15px;
    background-color: rgb(18, 187, 18);
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modeButtonDrag:hover,
#modeButtonResize:hover,
#addPostIt:hover,
#modeButtonErase:hover,
.erase:hover,
#modeButtonEdit:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#addPostIt {
    margin-top: 10px;
    height: 60px;
    width: 180px;
    border: none;
    border-radius: 15px;
    text-transform: capitalize;
    font-size: 20px;
    background-color: rgb(226, 226, 101);
}


/*==================== BOARD ========================*/

.board {
    height: 80vh;
    width: 80vw;
    background-image: url('../Images/board2.png');
    border: 15px solid rgb(70, 66, 66);
}

.plantDiv1 {
    position: absolute;
    bottom: -80px;
    left: -210px;
    z-index: 10000;
}

.plantDiv2 {
    position: absolute;
    bottom: -80px;
    right: -150px;
    z-index: 10000;
}


/*======================= POST IT ===========================*/

.post-it {
    position: absolute;
    background-color: rgb(226, 226, 101);
    filter: drop-shadow(0 0 10px black);
    font-size: 20px;
    width: fit-content;
    height: fit-content;
}

.text {
    position: relative;
    background-color: #e2e265;
    outline: none;
    border: none;
    resize: none;
    margin: 0;
    padding: 25px 10px 10px 10px;
    font-size: 20px;
}

.erase {
    position: relative;
    height: 30px;
    width: 30px;
    display: none;
}

.cross {
    position: relative;
    width: 30px;
    height: 10px;
    background-color: red;
    top: 10px;
    transform: rotate(45deg);
}

.cross::after {
    background: red;
    content: '';
    height: 10px;
    position: absolute;
    transform: rotate(90deg);
    width: 30px;
}

textarea:focus {
    outline: none;
    border: 3px solid red;
    margin-bottom: -2px;
}

.pin {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    bottom: 93%;
    left: 45%;
    box-shadow: 0 0 10px black;
    display: block;
}


/*====================== ASIDE BAR =======================*/

#asideBar {
    position: relative;
    height: 80vh;
    width: 12vw;
    left: 90vw;
    border-radius: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    border: 4px solid black;
}

.deploy {
    animation-name: deploy;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes deploy {
    0% {
        left: 90vw;
    }
    100% {
        left: 78vw;
    }
}

.hide {
    animation-name: hide;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes hide {
    0% {
        left: 78vw;
    }
    100% {
        left: 90vw;
    }
}

#asideBar p {
    margin: 10px;
    font-size: 20px;
}

input,
select,
label {
    margin: 5px 10px;
}

.colors,
.font,
.duplicateDiv {
    margin-top: 20px;
}

.fint,
.fontSize {
    display: flex;
    flex-direction: column;
}

.rotateDiv {
    margin-top: 20px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.duplicateDiv {
    display: flex;
    justify-content: center;
}


/*==================== ROTATE ET DUPLICATE BUTTON ==========================*/

.rotateButtonDiv {
    display: flex;
}

.rotateButton {
    min-height: 50px;
    min-width: 50px;
    border-radius: 15px;
    background-color: rgb(214, 214, 214);
    border: 1px solid gray;
    margin: 10px;
}

.rotateButton:hover,
.duplicateButton:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

.leftArrow {
    transform: scale(-1, 1);
}

.duplicateButton {
    height: 50px;
    width: 100px;
    background-color: rgb(214, 214, 214);
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*==================== FONT FAMILY ============================*/

.roboto {
    font-family: 'Roboto', sans-serif;
}

.dancing {
    font-family: 'Dancing Script', cursive;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.bebas {
    font-family: 'Bebas Neue', cursive;
}

.hahmlet {
    font-family: 'Hahmlet', serif;
}

.pacifico {
    font-family: 'Pacifico', cursive;
}

.sacramento {
    font-family: 'Sacramento', cursive;
}


/*====================== FONT SIZE ===============================*/

#font20 {
    font-size: 20px;
}

#font22 {
    font-size: 22px;
}

#font24 {
    font-size: 24px;
}

#font28 {
    font-size: 28px;
}

#font32 {
    font-size: 32px;
}

#font36 {
    font-size: 36px;
}

#font40 {
    font-size: 40px;
}

#font44 {
    font-size: 44px;
}

#font48 {
    font-size: 48px;
}

#font52 {
    font-size: 52px;
}


/*==================== FOOTER ========================*/

footer {
    display: flex;
    justify-content: flex-end;
    color: white;
    width: 100vw;
}

footer p {
    margin-right: 50px;
}