@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Hahmlet&family=Pacifico&family=Poppins&family=Roboto&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: rgb(120, 120, 126);
    background: -moz-linear-gradient(0deg, rgba(120, 120, 126, 1) 0%, rgba(206, 206, 215, 1) 50%, rgba(0, 212, 255, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(120, 120, 126, 1) 0%, rgba(206, 206, 215, 1) 50%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(0deg, rgba(120, 120, 126, 1) 0%, rgba(206, 206, 215, 1) 50%, rgba(0, 212, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#78787e", endColorstr="#00d4ff", GradientType=1);
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.message {
    display: none;
}

header {
    height: 10vh;
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(0, 0, 0);
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 65px;
    color: rgb(0, 0, 0);
}

.buttonDiv {
    display: flex;
    align-items: center;
    right: 0px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 10px;
    padding: 0px 10px;
    border-radius: 15px;
}

header p {
    font-size: 20px;
}

#modeButtonDrag,
#modeButtonResize,
#modeButtonErase,
#modeButtonEdit {
    border: none;
    height: 60px;
    width: 180px;
    border-radius: 15px;
    background-color: rgb(18, 187, 18);
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modeButtonDrag:hover,
#modeButtonResize:hover,
#addPostIt:hover,
#modeButtonErase:hover,
.erase:hover,
#modeButtonEdit:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#addPostIt {
    margin-top: 10px;
    height: 60px;
    width: 180px;
    border: none;
    border-radius: 15px;
    text-transform: capitalize;
    font-size: 20px;
    background-color: rgb(226, 226, 101);
}


/*==================== BOARD ========================*/

.board {
    height: 80vh;
    width: 80vw;
    background-image: url('../Images/board2.png');
    border: 15px solid rgb(70, 66, 66);
}

.plantDiv1 {
    position: absolute;
    bottom: -80px;
    left: -210px;
    z-index: 10000;
}

.plantDiv2 {
    position: absolute;
    bottom: -80px;
    right: -150px;
    z-index: 10000;
}


/*======================= POST IT ===========================*/

.post-it {
    position: absolute;
    background-color: rgb(226, 226, 101);
    filter: drop-shadow(0 0 10px black);
    font-size: 20px;
    width: fit-content;
    height: fit-content;
}

.text {
    position: relative;
    background-color: #e2e265;
    outline: none;
    border: none;
    resize: none;
    margin: 0;
    padding: 25px 10px 10px 10px;
    font-size: 20px;
}

.erase {
    position: relative;
    height: 30px;
    width: 30px;
    display: none;
}

.cross {
    position: relative;
    width: 30px;
    height: 10px;
    background-color: red;
    top: 10px;
    transform: rotate(45deg);
}

.cross::after {
    background: red;
    content: '';
    height: 10px;
    position: absolute;
    transform: rotate(90deg);
    width: 30px;
}

textarea:focus {
    outline: none;
    border: 3px solid red;
    margin-bottom: -2px;
}

.pin {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    bottom: 93%;
    left: 45%;
    box-shadow: 0 0 10px black;
    display: block;
}


/*====================== ASIDE BAR =======================*/

#asideBar {
    position: relative;
    height: 80vh;
    width: 12vw;
    left: 90vw;
    border-radius: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    z-index: 20000;
}

.deploy {
    animation-name: deploy;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes deploy {
    0% {
        left: 90vw;
    }
    100% {
        left: 78vw;
    }
}

.hide {
    animation-name: hide;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes hide {
    0% {
        left: 78vw;
    }
    100% {
        left: 90vw;
    }
}

#asideBar p {
    margin: 10px;
    font-size: 20px;
}

input,
select,
label {
    margin: 5px 10px;
}

.colors,
.font,
.duplicateDiv {
    margin-top: 20px;
}

.fint,
.fontSize {
    display: flex;
    flex-direction: column;
}

.rotateDiv {
    margin-top: 20px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.duplicateDiv {
    display: flex;
    justify-content: center;
}


/*==================== ROTATE ET DUPLICATE BUTTON ==========================*/

.rotateButtonDiv {
    display: flex;
}

.rotateButton {
    height: 60px;
    width: 60px;
    border-radius: 15px;
    background-color: rgb(214, 214, 214);
    border: 1px solid gray;
    margin: 10px;
}

.rotateButton:hover,
.duplicateButton:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

.leftArrow {
    transform: scale(-1, 1);
}

.duplicateButton {
    height: 50px;
    width: 100px;
    background-color: rgb(214, 214, 214);
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*==================== FONT FAMILY ============================*/

.roboto {
    font-family: 'Roboto', sans-serif;
}

.dancing {
    font-family: 'Dancing Script', cursive;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.bebas {
    font-family: 'Bebas Neue', cursive;
}

.hahmlet {
    font-family: 'Hahmlet', serif;
}

.pacifico {
    font-family: 'Pacifico', cursive;
}

.sacramento {
    font-family: 'Sacramento', cursive;
}


/*====================== FONT SIZE ===============================*/

#font20 {
    font-size: 20px;
}

#font22 {
    font-size: 22px;
}

#font24 {
    font-size: 24px;
}

#font28 {
    font-size: 28px;
}

#font32 {
    font-size: 32px;
}

#font36 {
    font-size: 36px;
}

#font40 {
    font-size: 40px;
}

#font44 {
    font-size: 44px;
}

#font48 {
    font-size: 48px;
}

#font52 {
    font-size: 52px;
}


/*==================== FOOTER ========================*/

footer {
    display: flex;
    justify-content: flex-end;
    color: white;
    width: 100vw;
}

footer p {
    margin-right: 50px;
}

@media (max-width:1600px) {
    h1 {
        font-size: 45px;
    }
    #modeButtonDrag,
    #modeButtonResize,
    #modeButtonErase,
    #modeButtonEdit,
    #addPostIt {
        height: 50px;
        width: 150px;
        font-size: 18px;
    }
    #asideBar {
        width: 13vw;
    }
    @keyframes deploy {
        0% {
            left: 90vw;
        }
        100% {
            left: 77vw;
        }
    }
    @keyframes hide {
        0% {
            left: 77vw;
        }
        100% {
            left: 90vw;
        }
    }
    .rotateButton {
        height: 50px;
        width: 50px;
        border-radius: 15px;
        background-color: rgb(214, 214, 214);
        border: 1px solid gray;
        margin: 10px;
    }
}

@media (max-width:1400px) {
    header p {
        display: none;
    }
    #asideBar {
        width: 14vw;
    }
    @keyframes deploy {
        0% {
            left: 90vw;
        }
        100% {
            left: 76vw;
        }
    }
    @keyframes hide {
        0% {
            left: 76vw;
        }
        100% {
            left: 90vw;
        }
    }
}

@media (max-width:1300px) {
    header {
        width: 95vw;
    }
    #asideBar {
        width: 15vw;
    }
    @keyframes deploy {
        0% {
            left: 90vw;
        }
        100% {
            left: 75vw;
        }
    }
    @keyframes hide {
        0% {
            left: 75vw;
        }
        100% {
            left: 90vw;
        }
    }
    .plantDiv1 {
        left: -250px;
    }
}

@media (max-width:1100px) {
    header {
        width: 95vw;
    }
    #modeButtonDrag,
    #modeButtonResize,
    #modeButtonErase,
    #modeButtonEdit,
    #addPostIt {
        height: 50px;
        width: 130px;
        font-size: 16px;
    }
    #asideBar {
        width: 17vw;
    }
    @keyframes deploy {
        0% {
            left: 90vw;
        }
        100% {
            left: 73vw;
        }
    }
    @keyframes hide {
        0% {
            left: 73vw;
        }
        100% {
            left: 90vw;
        }
    }
}

@media (max-width:1000px) {
    header {
        width: 98vw;
    }
    h1 {
        font-size: 35px;
    }
    .buttonDiv {
        padding: 0 5px;
        border: none;
    }
    #modeButtonDrag,
    #modeButtonResize,
    #modeButtonErase,
    #modeButtonEdit,
    #addPostIt {
        height: 50px;
        width: 100px;
        font-size: 16px;
        margin: 2px;
        padding: 4px;
    }
    #asideBar {
        width: 20vw;
    }
    @keyframes deploy {
        0% {
            left: 90vw;
        }
        100% {
            left: 70vw;
        }
    }
    @keyframes hide {
        0% {
            left: 70vw;
        }
        100% {
            left: 90vw;
        }
    }
    .plantDiv1 {
        left: -350px;
    }
}

@media (max-width:800px) {
    .message {
        display: flex;
        justify-content: center;
    }
    h1 {
        margin-top: 100px;
        font-size: 80px;
    }
    #addPostIt {
        display: none;
    }
    .buttonDiv {
        display: none;
    }
    .board {
        display: none;
    }
    .message p {
        font-size: 50px;
        margin: 50px;
    }
    footer p {
        font-size: 50px;
    }
}

@media only screen and (max-device-width:600px) {
    .message {
        display: flex;
        justify-content: center;
    }
    h1 {
        margin-top: 300px;
        font-size: 200px;
    }
    #addPostIt {
        display: none;
    }
    .buttonDiv {
        display: none;
    }
    .board {
        display: none;
    }
    .message p {
        font-size: 150px;
        margin: 50px;
    }
    footer p {
        font-size: 50px;
    }
}